# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.ipa

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
.env
.env.local
*.log
